:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
::after,
::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: var(--color-primary);
  color: var(--color-grey-dark-2); }

.container {
  background-color: var(--color-grey-light-2);
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.header {
  height: 7rem;
  background-color: var(--color-white); }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1); }

.content {
  display: flex; }

.hotel-view {
  flex: 1;
  background-color: orangered; }
