:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
::after,
::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: var(--color-primary);
  color: var(--color-grey-dark-2); }

.container {
  background-color: var(--color-grey-light-2);
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1); }

.content {
  display: flex; }

.hotel-view {
  flex: 1;
  background-color: orangered; }

.logo {
  height: 3.5rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    padding: .7rem 2rem;
    width: 90%;
    border: none;
    border-radius: 100px;
    text-indent: 15px;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-3); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2);
    transform: translateY(2px); }
  .search__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  background-color: greenyellow; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem; }
  .user-nav__user-photo {
    width: 3.75rem;
    border-radius: 50%; }
